:root {
  --dark-grey: #333C3E;
  --mid-grey: #606B6F;
  --white: #F0EFEE;
  --cream: #C9C9BD;
  --orange: #FAAC77;

  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 800px;
  background-color: var(--dark-grey);
  color: var(--white);
  font-size: 0.9rem;
  margin: 0 auto;
}

h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

a:link, a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

figure {
  margin: 0;
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.main-nav a {
  padding: 0.5rem;
}

.main-nav a:link, .main-nav a:visited {
  color: var(--cream);
  text-decoration: none;
}

.main-nav a:hover {
  color: var(--dark-grey);
  background-color: var(--cream);
  border-radius: 0.2rem;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

header .inner {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.inner img {
  border-radius: 50%;
  width: 60%;
}

.branding {
  color: var(--orange);
  text-transform: uppercase;
  font-size: 2.45rem;
  margin-bottom: 0;
}

.role {
  color: var(--cream);
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 1rem;
  max-width: 600px;
  /* min-height: 100vh; */
  padding-bottom: 4rem;
  position: relative;
}

section:nth-child(odd) {
  background-color: var(--white);
  color: var(--dark-grey);
}

section:nth-child(even) {
  background-color: var(--mid-grey);
}

.top-link {
  position: absolute;
  display: block;
  right: 1rem;
  top: 0.5rem;
  text-transform: uppercase;
  color: var(--dark-grey);
  /* background-color: var(--cream); */
  padding: 0.3rem 0.6rem;
  font-weight: bold;
  border-bottom: 1px solid var(--dark-grey);
  border-right: 1px solid var(--dark-grey);
  border-radius: 0.2rem;
  font-size: smaller;
}

.top-link a {
  text-decoration: none;
}

section h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--dark-grey);
  color: var(--dark-grey);
}

section h3 {
  font-size: 2rem;
  color: var(--dark-grey);
  background-color: var(--cream);
  padding: 1rem 0;
  margin: 2rem -1rem 1rem -1rem;
}

#accident {
  width: 100%;
}

#history figcaption {
  text-align: center;
  color: var(--mid-grey);
  font-size: smaller;
  font-style: italic;
}

.project {
  margin-bottom: 4rem;
}

.project-inner img {
  width: 100%;
}

.project-link {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #505B5F;
  padding: 0.5rem;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
}

.project-link:hover {
  background-color: #404B4F;
}

.about img {
  width: 100%;
}

footer {
  padding: 1rem;
  text-align: center;
}

/*** MEDIA QUERIES ***/
